*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache

*.owl

.classpath

.project

.classpath

.project

.DS_Store

*.nt

.settings/org.scala-ide.sdt.core.prefs

*.binary

*.txt

*.zip
binary-split/0.filtered-split

*.snapshot

*.config

*.split

lubm1*/

*.filtered-split
